@import "/Users/chips/Desktop/AntoineChirat_3_15062021/utils/_variables.scss";
@import "/Users/chips/Desktop/AntoineChirat_3_15062021/utils/_mixin.scss";
@import "/Users/chips/Desktop/AntoineChirat_3_15062021/layout/composants/_bouton.scss";
@import "/Users/chips/Desktop/AntoineChirat_3_15062021/layout/composants/_icones.scss";
@import "/Users/chips/Desktop/AntoineChirat_3_15062021/layout/composants/_cartes.scss";
@import "/Users/chips/Desktop/AntoineChirat_3_15062021/layout/composants/_animations.scss";

/* styleheader*/
.header{
    display: flex;
    text-align: center;
    padding-top:15px;
    padding-bottom:15px;
        &__icon{
            margin-left: 10px;
        }
        &__logo{
            font-family: Shrikhand;
            flex-basis: 100%;
            margin: auto;
            margin-right: 20px;
        }
        &__logoindex{
            margin-right: -7px;
        }
}
/* styleheader*/

/* style main*/
body{
    font-family: roboto;
    margin:0px;
    width: 100%;
    z-index: 2;
}

.localisation{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    background-color: #f3f3f3;
    padding: .75rem 1.5rem;
    background-color: #f3f3f3;
    &__text{
        margin-left: 10px;
        font-size: 0.8em;
    }
}

.explore{
    display:flex;
    flex-direction: column;
    background-color: $background;
    padding: .75rem 1.5rem;
    &__title{
        text-align: center;
        font-size: 1.4rem;
    }
    &__text{
        text-align: center;
        font-weight: 100;
    }
}

.fonctionnement{
    margin-top:30px;
    display: flex;
    flex-direction: column;
        &__title{
        margin-left: 32px;
        }
        &__texte{
        margin-left: 32px;
        }
}

.background__picture{
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.restaurant{
    padding-top:45px;
    padding-bottom:25px;
    background-color: $background;
    padding-left: 0;
    padding-right: 0;
    &__title{
        margin-left:32px;
        font-family:roboto ;
        font-weight: 1000;
    }
    &__legend{
        @include nouveauattribute();
    }
    &__carteimage{
        @include photoradius();
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    &__menufavorite{
        display: grid;
        grid-column: 2;
        grid-row: 1/2;
        text-align: right;
        flex-basis: 5%;
        margin-right: 10px;
    }
}

.menu{
    background-color: $background;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    position: relative;
    margin-top: -65px;
    &__header{
        font-family: Shrikhand;
        font-size: 1.5em;
        padding-top: 22px;
        display: flex;
    }
    &__title{
        font-family: Shrikhand;
        flex-basis: 95%;
        font-size: 1em;
        margin-left:14px;
    }
    &__favorite{
        margin-right:10px;
        display: grid;
        grid-column: 2;
        grid-row: 1/2;
        text-align: right;
        flex-basis: 5%;
        margin-right: 10px;
    }
    &__icone{
        margin: auto;
    }
    &__container{
        display: block 
    }
    &__entrées{
            flex-basis: 31%;
            animation: animationfoodcard 100ms linear 1ms 1 normal forwards;
        }
    &__plats{
            flex-basis: 32%;
            opacity: 0;
            animation: animationfoodcard 100ms linear 200ms  normal forwards;
        }
    &__dessert{
            flex-basis: 31%;
            opacity: 0;
            animation: animationfoodcard 100ms linear 400ms  normal forwards;
        }   
}

.foodtitle{
    margin-left: 15px;
    position: relative;
    padding-bottom: .5rem;
    &:after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: $tertiary;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.commander{
    display: flex;
    margin-top: 30px;
    padding-bottom: 30px;
}
/* stylemain*/

/* stylefooter*/
.footer{
    background-color: #353535;
    color: white;
    &__content{
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 100;
    }
    &__logo{
        font-family: Shrikhand;
        flex-basis: 100%;
        margin-left: 32px;
    }
    &__title{
        font-family: Shrikhand;
        margin-left: 32px;
    }
    &__link{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
    li{
        margin-bottom: 5px;
        text-decoration: none;
        color: white;
        border-bottom: 1px solid transparent;
        width: fit-content;
        &:hover{
            border-color:white;
        }
    }
    &__list1{
        margin-right :12px;
    }
    &__list2{
        margin-right: 4px;
    }
}

/* styledesktop*/
@import "/Users/chips/Desktop/AntoineChirat_3_15062021/layout/composants/_desktoptabletpview.scss";
/* styledesktop*/