@charset "UTF-8";
/*Colors*/
/* */
/* */
/* */
/* */
/* */
.explorebutton {
  border-radius: 20px;
  box-shadow: 0px 5px 12px -4px rgba(145, 145, 145, 0.73);
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  color: white;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  width: 300px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-bottom: 15px;
  border: none;
  font-weight: 600;
}

.commanderbtn {
  border-radius: 20px;
  box-shadow: 0px 5px 12px -4px rgba(145, 145, 145, 0.73);
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  color: white;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  width: 300px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  border: none;
  font-weight: 600;
}

.fonctionnementcarte {
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: 0px 5px 12px -4px rgba(145, 145, 145, 0.73);
  padding: 1.5rem 1.5rem;
  margin-bottom: 20px;
  flex: 30%;
  margin-right: 25px;
  position: relative;
}

.foodcard {
  border-radius: 20px;
  box-shadow: 0px 5px 12px -4px rgba(145, 145, 145, 0.73);
  background-color: white;
  display: grid;
  padding: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.foodcard .foodcardtitle {
  margin: 0;
  margin-bottom: -10px;
  margin-left: 5px;
  font-weight: 1000;
  font-size: 1em;
}
.foodcard .foodcarddescription {
  grid-column: 1;
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 0.9em;
  font-weight: 100;
}
.foodcard .foodcardprice {
  margin-right: 5px;
  margin-bottom: 0;
  grid-column: 2;
  text-align: right;
  font-weight: 1000;
}

.restaurantcartes {
  border-radius: 20px;
  box-shadow: 0px 5px 12px -4px rgba(145, 145, 145, 0.73);
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 500ms;
}
.restaurantcartes .carte {
  text-decoration: none;
}
.restaurantcartes:hover {
  transform: scale(1.03);
}
.restaurantcartes footer {
  display: grid;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  color: black;
}
.restaurantcartes h3 {
  margin: 0;
}
.restaurantcartes .restaurantquartier {
  grid-column: 1;
}
.restaurantcartes .favorite {
  grid-column: 2;
  text-align: right;
}

/* Disposition grid page d'accueil version desktop*/
/* styleheader*/
.header {
  display: flex;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header i {
  margin: auto;
  padding-left: 40px;
}

.logo {
  font-family: Shrikhand;
  flex-basis: 100%;
  margin: auto;
}

/* styleheader*/
/* style main*/
body {
  font-family: roboto;
  margin: 0px;
  width: 100%;
}

.localisation {
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
  background-color: #f3f3f3;
  padding: 0.75rem 1.5rem;
}
.localisation span {
  margin-left: 10px;
  font-size: 0.8em;
}

.explore {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  padding: 0.75rem 1.5rem;
}
.explore .exploretitle {
  text-align: center;
  font-size: 1.4rem;
}
.explore .exploretext {
  text-align: center;
  font-weight: 100;
}

.fonctionnement {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.fonctionnementtitle {
  margin-left: 32px;
}

.fonctionnementtexte {
  margin-left: 32px;
}

.carteimage {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.backgroundpicture {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants {
  padding-top: 45px;
  padding-bottom: 25px;
  background-color: #fafafa;
  padding-left: 0;
  padding-right: 0;
}
.restaurants .restaurantstitle {
  margin-left: 15px;
  font-family: roboto;
  font-weight: 1000;
}

.restaurantlegend {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

.menu {
  background-color: #fafafa;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: relative;
}
.menu .menuheader {
  font-family: Shrikhand;
  font-size: 1.5em;
  padding-top: 25px;
  display: flex;
}
.menu .menutitle {
  flex-basis: 95%;
  font-size: 1.24em;
  margin-left: 32px;
}
.menu .menuicone {
  flex-basis: 5%;
  margin-right: 10px;
}
.menu i {
  margin: auto;
}
.menu .menucontainer {
  display: block;
}
.menu .entrées {
  flex: 31%;
}
.menu .plats {
  flex: 32%;
}
.menu .dessert {
  flex: 31%;
}

.foodtitle {
  margin-left: 15px;
}

.commander {
  display: flex;
  margin-top: 30px;
  padding-bottom: 30px;
}

/* stylemain*/
/* stylefooter*/
.footer {
  background-color: #353535;
  color: white;
}
.footer .footercontent {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 100;
}
.footer .footerlogo {
  font-family: Shrikhand;
  flex-basis: 100%;
  margin-left: 32px;
}
.footer h3 {
  font-family: Shrikhand;
  margin-left: 32px;
}
.footer ul {
  list-style: none;
}
.footer li {
  margin-bottom: 5px;
}
.footer .list1 {
  margin-right: 12px;
}
.footer .list2 {
  margin-right: 4px;
}

@media all and (min-width: 950px) {
  .restaurants {
    margin-left: 175px;
    margin-right: 175px;
  }

  .restaurants .restaurantstitle {
    margin-left: 55px;
  }

  .menu {
    margin-left: 175px;
    margin-right: 175px;
  }

  .menu .menucontainer {
    display: flex;
    flex-direction: row;
  }

  .cartecontainer {
    display: grid;
    margin-left: 50px;
    margin-right: 50px;
  }

  .carte1 {
    grid-column: 1;
    grid-row: 1;
  }

  .carte2 {
    grid-column: 2;
    grid-row: 1;
  }

  .carte3 {
    grid-column: 1;
    grid-row: 2;
  }

  .carte4 {
    grid-column: 2;
    grid-row: 2;
  }

  .fonctionnement {
    margin-left: 175px;
    margin-right: 175px;
  }

  .fonctionnementetapes {
    display: flex;
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */