@import "/Users/chips/Desktop/AntoineChirat_3_15062021/utils/_variables.scss";
@import "/Users/chips/Desktop/AntoineChirat_3_15062021/utils/_mixin.scss";
@import "/Users/chips/Desktop/AntoineChirat_3_15062021/layout/composants/_bouton.scss";
@import "/Users/chips/Desktop/AntoineChirat_3_15062021/layout/composants/_icones.scss";
@import "/Users/chips/Desktop/AntoineChirat_3_15062021/layout/composants/_cartes.scss";

/* styleheader*/
.header{
    display: flex;
    text-align: center;
    padding-top:15px;
    padding-bottom:15px;
    i{
    margin: auto;
    padding-left: 40px;
    }
}

.logo{
    font-family: Shrikhand;
    flex-basis: 100%;
    margin: auto;
}
/* styleheader*/

/* style main*/
body{
    font-family: roboto;
    margin:0px;
    width: 100%;
}

.localisation{
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    background-color: #f3f3f3;
    padding: .75rem 1.5rem;
    span{
        margin-left: 10px;
        font-size: 0.8em;
    }
}

.explore{
    display:flex;
    flex-direction: column;
    background-color: $background;
    padding: .75rem 1.5rem;
    .exploretitle{
        text-align: center;
        font-size: 1.4rem;
    }
    .exploretext{
        text-align: center;
        font-weight: 100;
    }
}

.fonctionnement{
    margin-top:30px;
    display: flex;
    flex-direction: column;
        .fonctionnementtitle{
        margin-left: 32px;
        }
        .fonctionnementtexte{
        margin-left: 32px;
        }
}


.carteimage{
    @include photoradius();
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.backgroundpicture{
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.restaurants{
    padding-top:45px;
    padding-bottom:25px;
    background-color: $background;
    padding-left: 0;
    padding-right: 0;
    .restaurantstitle{
        margin-left: 15px;
        font-family:roboto ;
        font-weight: 1000;
    }
}

.restaurantlegend{
    @include nouveauattribute();
}

.menu{
    background-color: $background;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    position: relative;
    margin-top: -65px;
    .menuheader{
        font-family: Shrikhand;
        font-size: 1.5em;
        padding-top: 25px;
        display: flex;
    }
    .menutitle{
        flex-basis: 95%;
        font-size: 1em;
        margin-left: 20px;
    }
    .menuicone{
        flex-basis: 5%;
        margin-right: 10px;
    }
    i{
        margin: auto;
    }
    .menucontainer{
        display: block;
        
    }
        .entrées{
            flex: 31%;
        }
        .plats{
            flex: 32%;
        }
        .dessert{
            flex: 31%;
        }
        
}

.foodtitle{
    margin-left: 15px;
}

.commander{
    display: flex;
    margin-top: 30px;
    padding-bottom: 30px;
}
/* stylemain*/

/* stylefooter*/
.footer{
    background-color: #353535;
    color: white;
    .footercontent{
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 100;
    }
    .footerlogo{
        font-family: Shrikhand;
        flex-basis: 100%;
        margin-left: 32px;
    }
    h3{
        font-family: Shrikhand;
        margin-left: 32px;
    }
    ul{
        list-style: none;
    }
    li{
        margin-bottom: 5px;
    }
    .list1{
        margin-right :12px;
    }
    .list2{
        margin-right: 4px;
    }
}

/* styledesktop*/
@import "/Users/chips/Desktop/AntoineChirat_3_15062021/layout/composants/_desktopview.scss";
/* styledesktop*/