/*style boutons*/
.explore__button{
    @include buttonlayout();
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
}

.commanderbtn{
    @include buttonlayout();
    width: fit-content;
    margin: auto;
    border: none;
}
/*style boutons*/