/* Variables*/

/* colors */
$primary:#9356DC;
$secondary:#FF79DA;
$tertiary:#99E2D0;
$background: #f6f6f6;
/* colors */

/* police */
@font-face {
    font-family: Shrikhand;
    src: url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
}

@font-face{
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
}
/* police */

/* mixin */
@mixin cardradiusandshadow{
    border-radius: 20px;
    box-shadow: 0px 5px 12px -4px rgba(145,145,145,0.73);
}

@mixin buttonlayout{
    padding: .75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
    background-image: linear-gradient( 0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    width: 300px;
}

@mixin photoradius{
    border-top-left-radius: 15px;
    border-top-right-radius:15px;
}

@mixin nouveauattribute{
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: $tertiary;
    padding: 10px 15px 5px 15px;
    border: 1px solid grey;
}
/* mixin */


/* styleheader*/
.header{
    text-align: center;
}
.logo{
    font-family: Shrikhand;
}
/* styleheader*/

/* style main*/
body{
    font-family: roboto;
    margin:0px;
}
.localisation{
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    background-color: #f3f3f3;
    padding: .75rem 1.5rem;
    span{
        margin-left: 10px;
    }
}

.explore{
    display:flex;
    flex-direction: column;
    background-color: $background;
    padding: .75rem 1.5rem;
    .exploretitle{
        text-align: center;
        font-size: 1.8rem;
    }
    .exploretext{
        text-align: center;
    }
    .explorebutton{
        @include cardradiusandshadow();
        @include buttonlayout();
        width: fit-content;
    }
}

.fonctionnement{
    .fonctionnementtitle{
        margin-left: 32px;
    }
    .fonctionnementcarte{
        background-color: $background;
        @include cardradiusandshadow();
        padding: .75rem 1.5rem;
        margin-bottom: 20px;
    }
        .fonctionnementtexte{
            margin-left: 32px;
        }
}

.carteimage{
    @include photoradius();
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.backgroundpicture{
    width: 100%;
    max-height: 512px;
    object-fit: cover;
}

.restaurants{
    padding-top:45px;
    padding-bottom:25px;
    background-color: $background;
    .restaurantstitle{
        margin-left: 32px;
        font-family:roboto ;
    }
}

.restaurantcartes{
    height: 256px;
    @include cardradiusandshadow();
    border: 4px solid black;
    margin-bottom: 50px;
    transform:scale(1);
    transition-property: transform;
    transition-duration: 500ms;
    &:hover{
        transform: scale(1.03);
    }
}

.restaurantlegend{
    @include nouveauattribute();
}

.foodcard{
    @include cardradiusandshadow();
    background-color: white;
    display: grid;
}

.menu{
    background-color: $background;
    .menuheader{
        font-family: Shrikhand;
        font-size: 1.5em;
    }

}
.commanderbtn{
    @include cardradiusandshadow();
    @include buttonlayout();
}
/* stylemain*/

/* stylefooter*/
.footer{
    background-color: black;
    color: white;
    .footercontent{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    h3{
        font-family: Shrikhand;
        margin-left: 32px;
    }
    ul{
        list-style: none;
    }
    li{
        margin-bottom: 5px;
    }
}
