
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="title" content="Oh my Food"/>
		<title>Oh my Food</title>
		<link rel="preconnect" href="https://fonts.gstatic.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous"/>
		<link rel="stylesheet" href="/AntoineChirat_3_15062021/publichtml/css/style.css">
	</head>
	<body>
		<header class="header">
				<a href="/AntoineChirat_3_15062021/index.html"><i class="fas fa-arrow-left iconback"></i></a>
			<h1 class="header__logo">ohmyfood</h1>
		</header>
		<main>
			<div class="background">
				<img class="background__picture" src="/AntoineChirat_3_15062021/publichtml/images/Lapalettedugout.jpg" alt>
			</div>
			<section class="menu">
				<header class="menu__header">
					<div class="menu__title">
						La palette du goût
					</div>
					<div class="menu__favorite">
						<i class="far fa-heart emptyheart"></i>
						<i class="fas fa-heart fullheart"></i>
					</div>
				</header>
				<div class="menu__container">
					<div class="menu__entrées">
						<h3 class="foodtitle">ENTRÉES</h3>
						<div class="cardcontainer">
							<div class="delay-0 foodcard">
								<div class="foodcard__text">
									<h4 class="foodcard__title">Fricassée d'escargot</h4>
									<p class="foodcard__description">
										Au piment d'Espelette
									</p>
								</div>
								<p class="foodcard__price">
									25€
								</p>
								<div class="foodcard__check">
									<div class="foodcard__checkcircle">
										<i class="fas fa-check-circle iconecercle"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="cardcontainer">
							<div class="delay-1 foodcard">
								<div class="foodcard__text">
									<h4 class="foodcard__title">Foie gras de canard mi-cuit</h4>
									<p class="foodcard__description">
										Et ses copeaux de truffe noire
									</p>
								</div>
								<p class="foodcard__price">
									35€
								</p>
								<div class="foodcard__check">
									<div class="foodcard__checkcircle">
										<i class="fas fa-check-circle iconecercle"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="cardcontainer">
							<div class="delay-2 foodcard">
								<div class="foodcard__text">
									<h4 class="foodcard__title">Oeuf au plat</h4>
									<p class="foodcard__description">
										Assaisonné à la truffe sur lit de caviar
									</p>
								</div>
								<p class="foodcard__price">
									20€
								</p>
								<div class="foodcard__check">
									<div class="foodcard__checkcircle">
										<i class="fas fa-check-circle iconecercle"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="menu__plats">
						<h3 class="foodtitle">PLATS</h3>
						<div class="cardcontainer">
						<div class="delay-3 foodcard">
							<div class="foodcard__text">
								<h4 class="foodcard__title">Filet de boeuf aux herbes</h4>
								<p class="foodcard__description">
									Accompagné de sa ribambelle de légumes
								</p>
							</div>
							<p class="foodcard__price">
								40€
							</p>
							<div class="foodcard__check">
								<div class="foodcard__checkcircle">
									<i class="fas fa-check-circle iconecercle"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="cardcontainer">
						<div class="delay-4 foodcard">
							<div class="foodcard__text">
								<h4 class="foodcard__title">Parmentier de queue de boeuf</h4>
								<p class="foodcard__description">
									À la truffe noire sur sa purée de panais
								</p>
							</div>
							<p class="foodcard__price">
								35€
							</p>
							<div class="foodcard__check">
								<div class="foodcard__checkcircle">
									<i class="fas fa-check-circle iconecercle"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="cardcontainer">
						<div class="delay-5 foodcard">
							<div class="foodcard__text">
								<h4 class="foodcard__title">Filet de turbot</h4>
								<p class="foodcard__description">
									Aux agrumes
								</p>
							</div>
							<p class="foodcard__price">
								44€
							</p>
							<div class="foodcard__check">
								<div class="foodcard__checkcircle">
									<i class="fas fa-check-circle iconecercle"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu__dessert">
					<h3 class="foodtitle">DESSERTS</h3>
					<div class="cardcontainer">
						<div class="delay-6 foodcard">
							<div class="foodcard__text">
								<h4 class="foodcard__title">Paris-Brest</h4>
								<p class="foodcard__description">
									Revisité
								</p>
							</div>
							<p class="foodcard__price">
								18€
							</p>
							<div class="foodcard__check">
								<div class="foodcard__checkcircle">
									<i class="fas fa-check-circle iconecercle"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="cardcontainer">
						<div class="delay-7 foodcard">
							<div class="foodcard__text">
								<h4 class="foodcard__title">Macaron au chocolat d'exception</h4>
								<p class="foodcard__description">
									Et glace à la vanille de Madagascar
								</p>
							</div>
							<p class="foodcard__price">
								22€
							</p>
							<div class="foodcard__check">
								<div class="foodcard__checkcircle">
									<i class="fas fa-check-circle iconecercle"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="cardcontainer">
						<div class="delay-8 foodcard">
							<div class="foodcard__text">
								<h4 class="foodcard__title">Mousse au chocolat</h4>
								<p class="foodcard__description">
									Au piment d'Espelette et à la truffe noire
								</p>
							</div>
							<p class="foodcard__price">
								23€
							</p>
							<div class="foodcard__check">
								<div class="foodcard__checkcircle">
									<i class="fas fa-check-circle iconecercle"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="commander">
				<button class="commanderbtn">Commander</button>
			</div>
		</section>
	</main>
	<footer class="footer">
		<div class="footer__content">
			<h3 class="footer__logo">Ohmyfood</h3>
			<ul class="footer__link">
				<li class="footer__list">
					<a href="#"><i class="fas fa-utensils footer__list1"></i>Proposer un restaurant</a>
				</li>
				<li class="footer__list ">
					<a href="#"><i class="fas fa-hands-helping footer__list2"></i>Devenir partenaire</a>
				</li>
				<li class="footer__list"><a href="#">Mentions légales</a></li>
				<li class="footer__list"><a href="mailto:ohmyfood@ohmyfood.com">Contact</a></li>
			</ul>
		</div>
	</footer>
</body>

