.commanderbtn{
    transition-duration: .25s;
    &:hover{
        background-color: #fff;
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
    }
}

.explore__button{
    &:hover{
        background-color: #fff;
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
    }
}

.loadingspinnercontainer{
    width: 100%;
    max-height: 1552px;
    position: absolute;
    z-index: 3;
    opacity: 0.8;
    animation: animationspinner 300ms linear 1s 1 normal forwards;
}

.spinner{
    top: 44%;
    left: 25%;
    background-color: transparent;
    position: fixed;
    width: max-content;
    height: max-content;
    opacity: 1;
    animation: animationspinner 300ms linear 100s 1s normal forwards;
}

main{
    opacity: 0.5;
    animation: animationmain 300ms linear 1s 1 normal forwards;
}

@keyframes animationspinner {
    0% {
        opacity: 0.8;
        z-index: 3;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}

@keyframes animationmain {
    0% {
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

@keyframes animationfoodcard {
    0% {
        opacity: 0;
        color: white;
    }
    20%{
        opacity: 0.4;
        color: darken($color: white, $amount: 20%);
    }
    40%{
        opacity: 0.5;
        color: darken($color: white, $amount: 40%);
    }
    60%{
        opacity: 0.6;
        color: darken($color: white, $amount: 40%);
    }
    80%{
        opacity: 0.7;
        color: darken($color: white, $amount: 80%);
    }
    100%{
        opacity: 1;
        color: black;
    }
}

@keyframes animationiconecercle {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }   
}

/*Keyframes test pour améliorer l'animation sur le coeur*/
@keyframes animationheartempty {
    0% {
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

@keyframes animationheartfull {
    0% {
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
/*Keyframes test pour améliorer l'animation sur le coeur*/