/*style boutons*/
.explore__button{
    @include cardradiusandshadow();
    @include buttonlayout();
    width: fit-content;
    margin: auto;
    margin-bottom: 15px;
    border: none;
    font-weight: 600;
}

.commanderbtn{
    @include cardradiusandshadow();
    @include buttonlayout();
    width: fit-content;
    margin: auto;
    border: none;
    font-weight: 600;
}
/*style boutons*/