.explorebutton{
    @include cardradiusandshadow();
    @include buttonlayout();
    width: fit-content;
    margin: auto;
    border: none;
}

.commanderbtn{
    @include cardradiusandshadow();
    @include buttonlayout();
    width: fit-content;
    margin: auto;
    border: none;
}