
@media all and (min-width: 950px) {

    .restaurants .restaurantstitle{
        margin-left:55px;
    }

    .menu{
        @include margindesktop;
    }

    .menu .menutitle{
        font-size:1.24em;
        margin-left: 32px;
    }

    .menu .menucontainer{
        display: flex;
        flex-direction: row;
    }

    .cartecontainer{
        display: grid;
        margin-left: 50px;
        margin-right: 50px;
    }

    .carte1{
        grid-column: 1;
        grid-row: 1;
        min-width: 500px;
        max-width: 500px;
    }

    .carte2{
        grid-column: 2;
        grid-row: 1;
        min-width: 500px;
        max-width: 500px;
    }

    .carte3{
        grid-column: 1;
        grid-row: 2;
        min-width: 500px;
        max-width: 500px;
    }

    .carte4{
        grid-column: 2;
        grid-row: 2;
        min-width: 500px;
        max-width: 500px;
    }


    .fonctionnementetapes {
        display: flex;
        flex-direction: row;
  
    }
  }
