@media all and (min-width: 950px) {
    .spinner{
        top: 43%;
        left: 44%;
    }
    main .restaurants{
        padding-left: 112px;
        padding-right: 112px;
    }
    
    main .restaurants__headtitle{
        text-align: center;
    } 

    .menu{
        @include margindesktop;
        &__title{
            font-size:1.24em;
            margin-left: 32px;
        }
        &__container{
            display: flex;
            flex-direction: row;
        }
    }

    .restaurants__cartecontainer{
        display: flex;
        flex-wrap: wrap;
        margin-left: 50px;
        margin-right: 50px;
        justify-content: center;
    }

    .carte1{
        min-width: 525px;
        max-width: 525px;
    }

    .carte2{
        min-width: 525px;
        max-width: 525px;
    }

    .carte3{
        min-width: 525px;
        max-width: 525px;
    }

    .carte4{
        min-width: 525px;
        max-width: 525px;
    }

    .fonctionnement{
        padding-left: 133px;
        padding-right: 147px;
        text-align: center;
        align-items: center;
        &__etapes {
        display: flex;
        flex-direction: row;
        }   
    }

    .footer{
        padding-left:145px;
    }
}

@media all and (min-width:768px) and (max-width:950px){
    .spinner{
        top: 30%;
        left: 40%;
    }
}
