@media all and (min-width: 950px) {
    .spinner{
        top: 43%;
        left: 44%;
    }
    main .restaurants{
        padding-left: 112px;
        padding-right: 112px;
    }

    .restaurants .restaurantstitle{
        margin-left:61px;
    }

    .menu{
        @include margindesktop;
    }

    .menu .menutitle{
        font-size:1.24em;
        margin-left: 32px;
    }

    .menu .menucontainer{
        display: flex;
        flex-direction: row;
    }

    .restaurants__cartecontainer{
        display: grid;
        margin-left: 50px;
        margin-right: 50px;
    }

    .carte1{
        grid-column: 1;
        grid-row: 1;
        min-width: 300px;
        max-width: 750px;
    }

    .carte2{
        grid-column: 2;
        grid-row: 1;
        min-width: 300px;
        max-width: 750px;
    }

    .carte3{
        grid-column: 1;
        grid-row: 2;
        min-width: 300px;
        max-width: 750px;
    }

    .carte4{
        grid-column: 2;
        grid-row: 2;
        min-width: 300px;
        max-width: 750px;
    }

    .fonctionnement{
        padding-left: 133px;
        padding-right: 147px;
        &__etapes {
        display: flex;
        flex-direction: row;
        }   
    }

    .footer{
        padding-left:145px;
    }
}

@media all and (min-width:768px) and (max-width:950px){
    .spinner{
        top: 30%;
        left: 40%;
    }
}
