@media (max-width: 767px) {
    .fonctionnementetapes{
        flex-direction: column;
    }

    .footer{
        padding: none;
    }

    .cartecontainer{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1100px) {
        .fonctionnementetapes{
            flex-direction: column;
        }

        .footer{
            padding: 0px;
        }
}